<meta charset="utf-8">
<title>{{title}}</title>
<meta name="author" content="Ilya Sechin">
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/css/bootstrap.min.css" />