<div id="wrapper">

    <h2>Information about {{bot.name}}:</h2>
    <p>Price : {{bot.price}}</p>
    <p>Image : </p>
    <img src="{{bot.avatarURL}}" method="GET" enctype="multipart/form-data">
    <form action="/bots/{{bot.id}}/update" method="GET" enctype="multipart/form-data">
        <input type="submit" class="btn btn-outline-success btn-lg active" value="Update">
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h1>Delete</h1>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this bot ?
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-primary" data-dismiss="modal" value="No">
                                <input onclick="deleteBot({{bot.id}})" class="btn btn-danger btn-ok"
                                       data-dismiss="modal" value="Yes">
                            </div>
                        </div>
                    </div>
                </div>
                {{#if_eq bot.userId currentUser.id}}
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</a>
                {{else}}
                    {{#if currentUser.role}}
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</a>
                    {{/if}}
                {{/if_eq}}
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
{{!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> --}}

  </div>
</div>

</div>