<div id="wrapper">
    <form action="/bots/{{bot.id}}/update" method="POST" enctype="multipart/form-data">
        Write new bot name: <br>
        <input type="text" name="name" value="{{bot.name}}" required><br>
        Write new price of bot :<br>
        <input type="number" name="price" min="1" value="{{bot.price}}" required><br>
        Choose new owner's photo:
        <input type="file" name="image"><br>
        <input type="submit" class="btn btn-outline-success btn-lg active" value="Update">

    </form>
</div>