<div id="wrapper">
  <table class="table table-bordered table-sm col-md-6">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Bots</th>
        </tr>
        </thead>
        <tbody id="Bots">
        </tbody>
    </table>
  <form action="/bots/new" method="GET">
    <input type="submit" class="btn btn-primary btn-lg active" value="New"><br>
  </form>
 <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">

            <li class="page-item">
                <button id="PrevPage" onclick="turnPage('prev')" class="page-link btn-disabled">Previous</button>
            </li>

            <li>
                <button id="NextPage" onclick="turnPage('next')" class="page-link">Next</button>
            </li>
        </ul>
    </nav>
</div>
<script type='text/javascript' src='/javascripts/on_page_change.js'></script>
<script src="/templates/bots.hbs.js"></script>
<script type='text/javascript' src='/javascripts/on_search.js'></script>