<div id="wrapper">
    <p>Category name : {{name}}</p>
    <form action="/categories/{{id}}/update" method="GET">
        <input type="submit" class="btn btn-outline-success btn-lg active" value="Update">
    </form>
    <form action="/categories/{{id}}" method="POST">
        <input type="submit" class="btn btn-danger btn-lg active" value="Delete">
    </form>
</div>