<p>Note: to access the API you must be authorized with BasicAuth</p>
<p>401 error gets returned if the credentials are invalid</p>
<p>403 error gets returned if a non-admin user tries to access admin-only api</p>
<div >
    <div class="span12">
        <div class="inside">
            <hgroup>
                <h5>USERS API</h5>
            </hgroup>
            <ul class="entry-content" style="list-style-type: square;">
                <li>GET '/api/v1/users?page=:page_num'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Returns a page of users if the request was made by the admin</li>
                        </ul>
                    </div>
                </li>
                <li>bot '/api/v1/users/new'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Creates user in the database</li>
                            <li>Required parameters: username, email, password, avaUrl; </li>
                        </ul>
                    </div>
                </li>
                <li>GET '/api/v1/users/:userId'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Retrieves user with provided id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>PUT '/api/v1/users/:userId/update'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Updates user with provided parameters</li>
                            <li>Can update: username, email</li>
                        </ul>
                    </div>
                </li>
                <li>DELETE '/api/v1/users/:userId/delete'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Deletes the user with provided id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>bot '/api/v1/users/:userId/giveadmin'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Gives admin rights to the user with provided id if the request was made by the admin
                            </li>
                        </ul>
                    </div>
                </li>
                <li>bot '/api/v1/users/:userId/revokeadmin'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Revokes admin rights from the user with provided id if the request was made by the admin
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


<div>
    <div class="span12">
        <div class="inside">
            <hgroup>
                <h5>BOTS API</h5>
            </hgroup>
            <ul class="entry-content" style="list-style-type: square;">
                <li>GET '/api/v1/bots?page=:page_num'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Returns a page of bots</li>
                        </ul>
                    </div>
                </li>
                <li>GET '/api/v1/bots/:botId'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Retrieves bot with provided id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>PUT '/api/v1/bots/:botId/update'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Updates bot with provided parameters</li>
                            <li>Must update: name, price, avatarURL</li>
                        </ul>
                    </div>
                </li>
                <li>DELETE '/api/v1/bots/:botId/delete'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Deletes the bot with provided bot_id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>POST '/api/v1/bots/new'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Creates new bot in the database</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div>
    <div class="span12">
        <div class="inside">
            <hgroup>
                <h5>CATEGORIES API</h5>
            </hgroup>
            <ul class="entry-content" style="list-style-type: square;">
                <li>GET '/api/v1/categories?page=:page_num'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Returns a page of categories</li>
                        </ul>
                    </div>
                </li>
                <li>GET '/api/v1/categories/:categoryId'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Retrieves category with provided id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>PUT '/api/v1/categories/:categoryId'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Updates category</li>
                            <li>Required request body parameters: name</li>
                        </ul>
                    </div>
                </li>

                <li>DELETE '/api/v1/categories/:categoryId'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Deletes the category with provided category_id from the database</li>
                        </ul>
                    </div>
                </li>
                <li>POST '/api/v1/categories/new'
                    <div class="inside">
                        <ul class="entry-content" style="list-style-type: circle;">
                            <li>Creates new botcategory in the database</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>