<p>
    Search: <input type="text" onkeyup="onSearch()" id="Search" name="search" placeholder="Search..." />
</p>

<div id="SearchRes">


</div>


<script type='text/javascript' src='/javascripts/on_search.js'></script>
<script src="/templates/search.hbs.js"></script>