<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div>
        {{>header}}
    </div>
    <div>
        <h1 id="wrapper"><b>{{title}}</b></h1>
        {{{body}}}
        {{>footer}}
    </div>
</body>

</html>