<form action="/categories/new" method="POST">
    Write category name: <br>
    <input type="text" name="name"  required><br>
    <input type="submit" class="btn btn-outline-success btn-lg active" value="Create">
</form>