<div id="wrapper" class="container">
    <div>
        <h1><span class="fa fa-sign-in"></span> Register</h1>
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <form method="POST" action="/auth/register" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="username">Username: </label><br>
                <input type="text" name="username" id="username" required="required" placeholder="Username"
                    minlength="1" maxlength="20" /><br>
            </div>
            <div class="form-group">
                <label for="email">Email: </label><br>
                <input type="email" id="email" name="email" required="required" placeholder="Email" minlength="8" /><br>
            </div>
            <div class="form-group">
                <label for="password">Password: </label><br>
                <input type="password" name="password" id="password" required="required" placeholder="Password"
                    minlength="8" maxlength="20" aria-describedby="passwordHelpBlock"/>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                </small>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password: </label><br>
                <input type="password" name="confirm_password" id="confirm_password" required="required"
                    placeholder="Confirm Password" minlength="8" maxlength="20" /><br>
            </div>


            <button type="submit" class="btn btn-warning btn-lg">Register</button>
        </form>
        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or return to <a href="/">home</a></p>
    </div>
</div>