<div id="wrapper">
    <table border="1">
        <p><b> Table of users</b></p>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
        </tr>
        {{#each users}}
        <tr>

            <td><a href="/users/{{id}}">{{username}}</a></td>
            <td>{{email}}</td>

        </tr>

        {{/each}}

    </table>
</div>