#logo{
    width : 400px;
}

#center{
    margin-left: 100px;
}
#wrapper {
    margin-top: 50px; 
    text-align: center;
}

body {
    
    text-align: center;
}

#sections{
    list-style: none;
    padding: 0%;
    color: darkred;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

#ava{
    margin-top: 10px;
    width: 400px;
}

table {
    margin : auto;
    padding-top: 40px;
}

td {
    text-align: center;
}

.image {
    height: 400px;
    width : 400px;
}