<div>
    <h2>Information about {{bot.name}}:</h2>
    <p>Price : {{bot.price}}</p>
    <p>Image : </p>
    <img src="/bots/{{bot.id}}/image" class="image">
    <form action="/bots/{{bot.id}}/update" method="GET" enctype="multipart/form-data">
        <input type="submit"  value="Update">
    </form>
    <form action="/bots/{{bot.id}}" method="POST" enctype="multipart/form-data">
        <input type="submit"  value="Delete">
    </form>
</div>
