<div>
    <form action="/bots/{{id}}/update" method="POST" enctype="multipart/form-data">
        Write new bot name: <br>
        <input type="text" name="name" placeholder="bot name" ><br>
        Write new price of bot :<br>
        <input type="number" name="price" min="1" placeholder="price of bot" ><br>
        Choose new owner's photo:
        <input type="file" name="image" ><br>
        <input type="submit" value="Update">

    </form>
</div>