<div>
  <ol>
    {{#each categories}}
    <li><a href="/categories/{{id}}">{{name}}</a></li>
    {{/each}}
  </ol>
  <form action="/categories/new" method="GET">
    <input type="submit" value="New"><br>
  </form>
</div>