<p>
    Search results of <b>{{search_str}}</b>: <br/>
<div>
    {{#if search_str}}
        {{#each search_res}}
            <li>
                <a href="/bots/{{id}}">bot_{{id}}: {{name}}</a>
            </li>
        {{/each}}
    {{else}}
        <b>No results</b>
    {{/if}}
</div>