<div>
    <h2>Information about bot {{bot_id}}:</h2>
    <p>Owner : {{owner}}</p>
    <p>Price : {{price}}</p>
    <p>Quantity of users : {{quan}}</p>
    <p>Image : </p>
    <img src="/bots/{{bot_id}}/image" class="image">
    <form action="/bots/{{bot_id}}" method="POST" enctype="multipart/form-data">
        <input type="submit"  value="Delete">
    </form>
</div>
