<div>
  <form action="/bots">
    <input type="text" name="search">
    <input type="submit" value="Search"><br>
  </form>
  <p>{{Result}}</p>
  {{ErrorSearch}}
  <ol>
    {{#each bots}}
    <li><a href="/bots/{{id}}">Bot {{id}}</a></li>
    {{/each}}
  </ol>
  <form action="/bots/new" method="GET">
    <input type="submit" value="New"><br>
  </form>
  <nav>

    <ul class="pagination justify-content-center">
      <li class="page-item "><a class="page-link {{prev_disabled}}" href="/bots?page={{pagePrevNumber}}" >Previous</a></li>
      <li class="page-item "><a class="page-link {{next_disabled}}" href="/bots?page={{pageNextNumber}}" >Next</a></li>
    </ul>
  </nav>
  
  <p>{{page}} / {{quanOfPage}}</p>
</div>