<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div>
        {{>header}}
    </div>
    <div id="wrapper">
        <h1><b>{{title}}</b></h1>
        {{{body}}}
        {{>footer}}
    </div>
</body>

</html>