<div>
    <form action="/bots/new" method="POST" enctype="multipart/form-data">
        Write owner's name: <br>
        <input type="text" name="owner" placeholder="owner name" required><br>
        Write price of bot :<br>
        <input type="number" name="price" min="1" placeholder="price of bot" required><br>
        Write quantity of users for this bot:<br>
        <input type="number" name="quan" min="1" placeholder="quantity of users" required><br>
        Choose owner's photo:
        <input type="file" name="image" ><br>
        <input type="submit" value="Create">

    </form>
</div>