<div>
    <table border="1">
        <p><b> Table of users</b></p>
        <tr>
            <th>Login</th>
            <th>Full name</th>
            <th>Registered</th>
        </tr>
        {{#each users}}
        <tr>

            <td><a href="/users/{{id}}">{{login}}</a></td>
            <td>{{fullname}}</td>
            <td>{{registeredAt}}</td>

        </tr>
        {{/each}}

    </table>
</div>