<div>
    <img id="ava" class="grow" src={{image}} />

    <p><b>{{fullname}}</b></p>
    <p><b>Login: </b> {{login}}</p>
    <p><b>Date of registration: </b> {{registeredAt}}</p>
    <p>Student of KPI.</p>
</div>
