<div>
    <p>Category name : {{name}}</p>
    <form action="/categories/{{id}}/update" method="GET">
        <input type="submit"  value="Update">
    </form>
    <form action="/categories/{{id}}" method="POST">
        <input type="submit"  value="Delete">
    </form>
</div>