<div class="container">
    <div>
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        <form method="POST" action="/auth/login" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="email">Email: </label><br>
                <input type="email" class="form-control" name="email" id="email" required="required"
                       placeholder="Email"/><br>
            </div>
            <div class="form-group">
                <label for="password">Password: </label><br>
                <input type="password" class="form-control" name="password" id="password" required="required"
                       placeholder="Password"/><br>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
        <p>Need an account? <a href="/register">Register</a></p>
        <p>Or return to <a href="/">home</a></p>
    </div>
</div>