<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Profile Page</h1>
    </div>
    <div >
        <div >
            <div class="well">
                <img id="ava" class="grow" src={{image}} />
                <h3><span class="fa fa-user"></span>{{user.username}}</h3>
            <p>
                <strong>e-mail</strong>: {{user.email}}<br>
                <strong>username</strong>: {{user.username}}<br>
                <strong>registeredAt</strong>: {{user.createdAt}}<br>
                {{#if_not_eq currentUser.username user.username}}
                {{#if currentUser.role}}
                    {{#if user.role}}
                        <form action="/api/users/{{user.id}}/revokeadmin">
                            <input type="submit" value="Revoke admin"/>
                        </form>
                    {{else}}
                        <form action="/api/users/{{user.id}}/giveadmin">
                            <input type="submit" value="Grant admin"/>
                        </form>
                    {{/if}}
                {{/if}}
                {{/if_not_eq}}
                </p>
            </div>
        </div>

    </div>
</div>