<div id="wrapper">
  <form action="/bots/search">
    <input type="text" name="search">
    <input type="submit" value="Search"><br>
  </form>
  {{ErrorMessage}}
  <ol>
    {{#each bots.rows}}
    <li><a href="/bots/{{id}}">{{name}}</a></li>
    {{/each}}
  </ol>
  <form action="/bots/new" method="GET">
    <input type="submit" value="New"><br>
  </form>
  <nav>

    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="/bots?page={{pagePrevNumber}}" >Previous</a></li>
      <li class="page-item"><a class="page-link" href="/bots?page={{pageNextNumber}}" >Next</a></li>
    </ul>
  </nav>
  <p>{{page}} / {{quanOfPage}}</p>
</div>