<div id="wrapper">
    <form action="/categories/{{id}}/update" method="POST">
        Write new category name: <br>
        <input type="text" name="name" placeholder="category name" required><br>
        <input type="submit" value="Update">

    </form>
</div>