<div id="wrapper">
    <img id="logo" class="grow" src="/images/logo.jpeg" />

    <p>This web-site was created for telegram-bot trading.<br />
    Here you can buy bots which were made for your needs.<br />
    And also you can book the special bot with functions what you want.
  </p>
</div>
