<div id="wrapper">
    <form action="/bots/new" method="POST" enctype="multipart/form-data">
        Write bot name: <br>
        <input type="text" name="name" placeholder="bot name" required><br>
        Write bot price: <br>
        <input type="number" name="price" min="1" placeholder="price of bot" required><br>
        Choose owner's photo:
        <input type="file" name="image" ><br>
        <input type="submit" value="Create">

    </form>
</div>